body {
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;

  section {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    margin:0; 
    padding: 1rem;
    width: 97.5vw;
    height: 100vh;
    
  }
}
